* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  gap: 70px;
  width: 192px;
  height: 50px;
}

.ul-ul {
  display: flex;
  gap: 100px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.ul {
  padding-left: 730px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.img {
  padding-left: 250px;
}

.wrapper-sec-1 {
  background-image: url("./bg.jpeg");
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.h {
  font-size: 70px;
}

.p {
  font-size: 20px;
}

.btn {
  border-radius: 20px;
  height: 30px;
  width: 150px;
}

.wrapper-sec-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 480px) {
  .wrapper-sec-1 {
    background-image: url("./bg.jpeg");
    width: 480px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .wrap {
    display: flex;
    gap: 30px;
    width: 192px;
    height: 50px;
  }

  .ul-ul {
    display: none;
    gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  .ul {
    padding-left: 10px;
    display: none;
    align-items: center;
    justify-self: center;
  }
  .img {
    padding-left: 10px;
  }

  .wrapper-sec-1 {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
